.titulo{
         
    color:lightcoral;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table, th, td{ 
   border: 1px solid indianred; 
   border-collapse: collapse;
   text-align: center; 
}

th{
    color: firebrick;
    background-color: white;

}

.body1{
   width: 70%;
   margin: 0 auto;
}

nav{
   background-color: lightcoral;
   width: 70%;
   margin: 0 auto;
}

.menu ul {
   background-color: lightcoral;
   max-width: 450px; /* ancho maximo de 450px y no sobre pasa eso */
   margin: auto; /* margen automatico de acuerdo el ancho que le pongas de maximo */
}

.menu a:hover{
   background:indianred;/* se presenta cuando el usuario coloca el puntero sobre algun elemento*/
   padding: 5px;
   border-radius: 3px;
}

.menu li {
   display: inline;
   
}
.menu li a{
   color:white;
   text-align: left;
   
}

.item{
   display: inline-block; /* Esto es para ponerlo en linea, en un solo bloque */
   text-align: center;
   padding: 10px; /* Relleno a los 4 lados de los LI */
}

